.wrapper {
    padding: 4px 8px;
    border-radius: 30px;
    background-color: var(--grey);
    transition: background-color .15s;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.negative {
    background-color: var(--red);
}

.positive {
    background-color: var(--blue);
}