.wrapper {
    
}

.inner {
    display: grid;
    grid-template-columns: 80px 1fr 50%;
    align-items: center;
    height: 100%;
    gap: 16px;
    padding-left: 24px;
}

.chartWrapper {
    height: 100%;
}

.info {
    display: grid;
    gap: 8px;
}