@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
  --base: #060413;
  --grey: #494553;
  --red: #F54B39;
  --yellow: #F7CA3E;
  --blue: #1ad7d4;
  --purple: #7C5DEA;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
button,
input {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6em;
  color: white;
}

button {
  color: black;
  background-color: green;
}

html,
body {
  background-color: var(--base);
}

.price {
  font-variant-numeric: tabular-nums;
}

hr {
  border-color: var(--grey);
  max-width: 50%;
  margin: 32px auto;
}